@font-face {
  font-family: "book";
  src: url("../fonts/gotham/GothamProRegular.eot");
  src: url("../fonts/gotham/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/gotham/GothamProRegular.woff") format("woff"),
  url("../fonts/gotham/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "black";
  src: url("../fonts/gotham/GothamProBlack.eot");
  src: url("../fonts/gotham/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/gotham/GothamProBlack.woff") format("woff"),
  url("../fonts/gotham/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* Colors */
$white: #fff;
$gray: #6f6d6d;
$light-gray: #E8E8E8;

/* Custom Vars*/

$brand-color: #70aed2;
$brand-color-hover: #62a3c8;
$copyright-bg-color: #212124;
$footer-bg-color: #26262a;
$font-normal: 'book', sans-serif, Arial;
$font-bold: 'black', sans-serif, Arial;


/* General Sytles */


body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'book', sans-serif, Arial;
  background: #fafbfc;
}

p {
  margin: 0 0 20px
}
a {
  color: #70aed2;
  transition: all 150ms ease-in;
}
a.line:hover {
  border-bottom: 1px solid #70aed2;
  transition: all 150ms ease-in;
}
a:hover,
a:focus {
  color: #70aed2;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #3b3b3b;
  margin-bottom: 10px;
  font-family: 'black', sans-serif, Arial;
}
h1 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 15px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 7px;
  letter-spacing: -0.2px;
}
h5 {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.2px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

blockquote{
  border-left: none;
  font-size: 14px;
  padding: 10px 50px;

}

blockquote::before, blockquote::after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 1;

}

.inner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.dark-container {
  background: $light-gray;
}

.light-container {
  background: #fafbfc;
}

.section-title  {
  text-transform: uppercase;
}

/* Dividers */

.divide50 {
  width: 100%;
  height: 50px;
}

.divide70 {
  width: 100%;
  height: 50px;
}

/* Navigation */

.navigation {
  .navbar {
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    transition: all 0.3s;
    &.fixed {
      transition: all 0.3s;
      background: rgba(0, 0, 0, 0.8);
    }

    .nav {
      a {
        color: #fff;
        text-transform: uppercase;
        font-family: $font-bold;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover, &:focus {
        background: transparent;
        text-decoration: underline;
        }
      }
    }
  }

  .navbar-toggle {
    border: 1px solid #fff;
    padding: 16px 16px;
    .icon-bar {
      background: #fff;
    }
  }

  .navbar-collapse {
    border: none;
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .navbar {
      background: transparent;
      .nav {
        a {
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px ) and ( max-width: 1200px) {
    .navbar {
      .nav {
        a {
          font-size: 11px;
          padding: 25px 7px;

        }
      }
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }

}
/* Promo block */

.promo {
  position: relative;
  width: 100%;
  display: table;
  height: 100vh;

  .promo-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .promo-content-wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .promo-content {
    display: table-cell;
    color: $white;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .promo-heading {
    font-size: 22px;
    line-height: 26px;
    font-family: $font-bold;
    text-transform: uppercase;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff;
    margin: 0 auto;
    display: inline-block;
    padding: 10px 25px;
  }

  .promo-subheading {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    .promo-heading {
      font-size: 32px;
      line-height: 36px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .promo-heading {
      font-size: 48px;
      line-height: 52px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .promo-heading {
      font-size: 52px;
      line-height: 56px;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }

}

.latest-works {

  .latest-work-item {
    margin: 10px;
    padding: 20px;
    background: #E8E8E8;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  }

  .latest-works-corousel {
    margin-top: 20px;
  }

  .latest-work-text {
    padding-top: 20px;
  }

  .latest-work-title {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    background: #D8D4D4;
    font-size: 14px;
  }
}

.about-us {
  .about-us-top {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 0 rgba(29,29,33,0.07);
  }

  .subtitle {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 0 rgba(29,29,33,0.07);
  }

  .middle {
    img {
      padding: 20px;
      background: $white;
    }
  }
}

.advantages {

  .subtitle {
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .media-left {
    float: left;
    font-size: 40px;
    padding: 15px;
    margin-right: 20px;
    color: $white;
    border-radius: 100%;
    background: $brand-color;
    &:hover {
      background: $brand-color-hover;
    }
  }

  .item {
    margin-top: 40px;
  }

  /* Accordion */

  .panel-group {
    .panel {
      margin-bottom: 10px;
      background: none;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .panel-heading {
      padding: 0;

      .panel-title {
        font-size: 12px;
        line-height: 24px;
        background: $light-gray;
        text-transform: uppercase;
        transition: all 150ms ease-in ;
        > a {
          display: block;
          padding: 10px 20px;
        }

        &:hover,
        .panel-group .panel-active .panel-heading .panel-title {
          background: #70aed2;
          color: #FFF;
        }
      }
    }

    .panel-active a,
    .panel-title > a:hover {
      color: #FFF;
    }

    .panel-body {
      padding: 15px 0;
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

    .item {
      margin-top: 0;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }

}


/* Team Block */

.our-team {
  .team-image {
    margin-bottom: 20px;
    .arrow {
      position: absolute;
      color: #ffffff;
      top: 50%;
      left: 48%;
      i {
        font-size: 40px;
        color: #fff;
      }
    }

    &:hover .team-image-overlay {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
      transition: all 0.5s ease-in-out
    }
  }

  .team-image-box {
    position: relative;
  }

  .team-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .team-desc {
    background: $white;
    padding: 20px;
    box-shadow: 0 2px 0 rgba(29,29,33,0.07);
  }

  .team-title {
    font-family: $font-bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $light-gray;
  }

  @media only screen and (min-width : 450px) and (max-width : 768px) {
    .col-xs-12 {
      width: 50%;
    }
  }
}

/* Facts Block */

.facts {
  text-align: center;
  .facts-nmbr {
    font-family: 'black', sans-serif, Arial;
    font-size: 40px;
  }

  .facts-text {
    font-family: 'book', sans-serif, Arial;
  }

  .fa {
    display: block;
    font-size: 60px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
  }

  .facts-item {
    margin-bottom: 30px;
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .facts .facts-item {
      margin-bottom: 0;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }

}

/* Testimonials */

.testimonials {
  background: url('../images/bg-testimonials.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .testimonials-text {
    color: #fff;
    text-align: center;
  }

  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
}

.contacts {
  ::-webkit-input-placeholder {color:#333;}
  ::-moz-placeholder          {color:#333;}
  :-moz-placeholder           {color:#333;}
  :-ms-input-placeholder      {color:#333;}
  color: #333;
  ul {
     li {
      display: inline;
      list-style-type: none;
      margin-right: 50px;
    }
  }

  .contact-info {
    margin: 0;
    font-size: 14px;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px;
    }

    i {
      margin-right: 7px;
    }
  }

  .divide50 {
    width: 100%;
    height: 50px;
  }
  input[type="text"], input[type="email"], input[type="tel"], select,option {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: none;
    background: $light-gray;
    font-weight: normal;
    font-size: 14px;
  }
  .form-field label {
    width: 100%;
  }

  textarea {
    height: 100%;
    min-height: 200px;
    padding: 8px 13px;
    width: 100%;
    font-size: 14px;
    border: none;
    background: $light-gray;
  }

  .radio-set {
    margin-top: 10px;
  }

  .radio-set label {
    margin-right: 10px;
    font-weight: normal;
    vertical-align: 10px;
  }

  .radio-set span {
    margin-right: 3px;
  }

  .btn {
    display: block;
    color: $white;
    background-color: $brand-color;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 0;
  }
  .btn:hover {
    background-color: $brand-color-hover;
  }
}

/* Footer Block */

.footer {
  background-color: $footer-bg-color;
  color: #cdcdcd;
  text-align: center;
  .inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-title {
    color: $white;
    margin-bottom: 20px;
  }

  .social {
    padding: 0 0 20px;
    margin: 0;
    list-style: none;
    .fa {
      &-rss {
        color: #e86f04;
      }

      &-twitter {
        color: #5daed5;
      }

      &-facebook {
        color: #4470cf;
      }

      &-pinterest {
        color: #c53942;
      }

      &-linkedin {
        color: #3393c1;
      }
    }

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 15px;
      width: 55px;
      height: 55px;
      background: #424248;
      &:hover {
        transform: scale(1.1,1.1);
        transition: all 550ms ease-in-out;

      }
      a {
        line-height: 20px;
        i {
          text-align: center;
          vertical-align: middle;
          color: #f5f5f5;
          background: none;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  .copyrights {
    background-color: $copyright-bg-color;
    .inner {
      padding: 20px 0;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}